<section class="container">
  <form class="form" (ngSubmit)="transfer()">
    <h2 class="form__title">New Transfer</h2>

    <div class="form-field">
      <label class="form-field__label" for="value">Value</label>
        <input class="form-field__input" id="value" type="number" name="value" [(ngModel)]="value"/>
    </div>

    <div class="form-field">
      <label class="form-field__label" for="destination">Destination</label>
      <input class="form-field__input" id="destination" type="text" name="destination" [(ngModel)]="destination"/>
    </div>

    <div class="button-wrapper">
      <button class="button" type="submit">Transfer</button>
    </div>
  </form>
</section>
