<section class="container">
  <form class="form" (ngSubmit)="transfer()">
    <h2 class="form__title">New Transfer</h2>

    <div class="form-field">
      <label class="form-field__label" for="valor">Value</label>
      <input class="form-field__input" id="valor" type="text" name="valor" />
    </div>

    <div class="form-field">
      <label class="form-field__label" for="destino">Destination</label>
      <input class="form-field__input" id="destino" type="text" name="destino" />
    </div>

    <div class="button-wrapper">
      <button class="button" type="submit">Transfer</button>
    </div>
  </form>
</section>
