<nav *ngIf="mostrarMenu" >
  <div class="nav-wrapper">
    <a routerLink="" class="brand-logo right">Rotas Angular</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li routerLinkActive="active"><a routerLink="/login">Login</a></li>
      <li routerLinkActive="active"><a routerLink="/cursos" [queryParams]="{page:1}">Courses</a></li>
      <!-- <li routerLinkActive="active"><a [routerLink]="['curso', idCurso.value]">Course by ID</a></li> -->
      <li routerLinkActive="active"><a routerLink="/alunos">Alunos</a></li>
    </ul>
  </div>
</nav>


<div class="container">
  <!--<p>Entre com o id do curso de interesse:</p> -->
  <!-- <input type="text" #idCurso > -->
  <router-outlet></router-outlet>
</div>
