<p fundoAmarelo>
    Diretiva com Fundo Amarelo
</p>
<button fundoAmarelo>Botao com Fundo Amarelo</button>
<p highlightMouse> Texto com highlight quando passo o moue</p>

<p highlight [defaultColor]="'grey'" [highlightColor]="'red'">
    Texto com highlight com cores customizadas
</p>

<h5>Diretiva Estrutura customizada</h5>
<div *ngIf="mostrarCursos">Lista de cursos aqui </div>
<br>
<div *ngElse="mostrarCursos">Não existem curso para serem listado</div>
<button (click)="onMostrarCursos()">Mostar ou Esconder Cursos</button>
