<div class="card mt-3">
  <div class=" card-header">
    <div class="float-left">
      <h4>Courses / Programs</h4>
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-primary" [routerLink]="['new']" style="margin-right: 5px;">New
        Course</button>
      <button type="button" class="btn btn-primary" [routerLink]="['edit']" style="margin-right: 5px;">Edit
        Course</button>
      <button type="button" class="btn btn-secondary" (click)="onRefresh()">Atualizar</button>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-hover" *ngIf="courses$ | async as courses; else loadingError">
      <thead>
        <tr>
          <th>#</th>
          <th>Course/Program</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let curso of courses">
          <td>{{ curso.id }}</td>
          <td>{{ curso.name }}</td>
          <td>
            <span class="float-right">
              <button class="btn btn-outline-warning mb-1 btn-sm">
                Update
              </button>
              {{ " " }}
              <button class="btn btn-outline-danger mb-1 btn-sm">
                Remove
              </button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>

    <ng-template #loadingError>
      <div *ngIf="error$ | async; else loading"> Error loading course(s) / program(s). You could try later. </div>
      <ng-template #loading>
        <span> Looading Courses/Programs</span>
      </ng-template>
    </ng-template>
  </div>
</div>