<!-- <app-diretiva-ngif></app-diretiva-ngif>  -->
<!-- <app-diretiva-ngswitch></app-diretiva-ngswitch> -->
<!-- <app-diretiva-ng-for></app-diretiva-ng-for> -->
<!-- <app-diretiva-ngclass></app-diretiva-ngclass> -->
<!-- <app-diretiva-ngstyle></app-diretiva-ngstyle> -->
<!-- <app-operador-elvis></app-operador-elvis> -->
<!-- <app-exemplo-ng-content>
    Conteudo passado para o Template de app-exemplo-ng-content
    <app-operador-elvis></app-operador-elvis> 
</app-exemplo-ng-content>

<app-exemplo-ng-content>
    <div class="titulo">Titulo Do Painel passado pelo Ng-Content</div>
    <div class="corpo">
        Conteudo passado para o Div Corpo de app-exemplo-ng-content
        <app-operador-elvis></app-operador-elvis> 
    </div>
    
</app-exemplo-ng-content> -->

<app-diretivas-customizadas></app-diretivas-customizadas>